@model WeatherApp.Models.Weather.WeatherResponse

<h2>Weather Information for @Model.CityName, @Model.CountryName</h2>

<div>
    <h3>Coordinates</h3>
    <p>Latitude: @Model.Lat</p>
    <p>Longitude: @Model.Lon</p>
</div>

<div>
    <h3>Weather</h3>
    <p>Main: @Model.Main</p>
    <p>Description: @Model.Description</p>
    
</div>

<div>
    <h3>Main Information</h3>
    <p>Temperature: @Model.Temp °C</p>
    <p>Pressure: @Model.Pressure hPa</p>
    <p>Humidity: @Model.Humidity %</p>
</div>

<div>
    <h3>Wind</h3>
    <p>Speed: @Model.Speed m/s</p>
</div>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}